<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
<body>
    <h1> Jelani Creary</h1>
    <p>Hello, i'm jelani and uhh i'm a software major.
        I liked to code (if that wasnt obvious),
         and I think i'm decently knowledgeable when it comes to backend
    </p>
    <button name="favorites" id="favorites" onclick="favorites()">Favorites</button>
    <button id="skills" onclick="skills()">Skills</button>
    <button id="spots" onclick="spots()">Spots</button>
    
    <script>
        function favorites() {
            console.log(window.location.host);
            location.href = "http://" + window.location.host + "/favorites";
        }

        function skills() {
            console.log(window.location.host);
            location.href = "http://" + window.location.host + "/skills";
        }

        function spots() {
            console.log(window.location.host);
            location.href = "http://" + window.location.host + "/spots";
        }
    </script>
</body>
</html>